h1 {
  margin-bottom: 20px;
  text-align: center;
}

.dropdown {
  margin-bottom: 10px;
  padding: 10px;
}

.dropdown .ant-select {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.message {
  margin-bottom: 20px;
  padding: 0 10px;
}